In this lab, you will be using the Sakila database of movie rentals.

In order to optimize our inventory, we would like to know which films will be rented next month and we are asked to create a model to predict it.

Instructions
1.Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features.
2.Read the data into a Pandas dataframe.
3.Analyze extracted features and transform them. You may need to encode some categorical variables, or scale numerical variables.
4.Create a query to get the list of films and a boolean indicating if it was rented last month. This would be our target variable.
5.Create a logistic regression model to predict this variable from the cleaned data.
6.Evaluate the results.

In [1]:
#connect to the database

import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass #To get the password without showing the input

In [8]:
password = getpass.getpass()
engine = f'mysql+pymysql://root:{password}@localhost/sakila'

········

In [3]:
#read the data into a Pandas dataframe.
Query_1 = """
SELECT f.film_id, 
		f.title, 
		f.description,
		fc.category_id,
		f.language_id,
		f.length/60 as hours_length,
		f.rental_duration,
		f. release_year,
		f.rating,
		f.special_features,
		avg(f.rental_duration) * 24 as avg_hours_rental_allowed,
		avg(f.replacement_cost) as avg_replacement_cost,
		count(fa.actor_id) as actors_in_film
	FROM film f	
	JOIN film_category fc ON f.film_id = fc.film_id
	JOIN film_actor fa ON fa.film_id = f.film_id
	GROUP BY 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;"""

In [4]:
Query_3 = """
SELECT 	i.film_id,
		count(r.rental_id) as num_rent_times,
		p.amount as rental_cost,
		avg(timestampdiff(hour, r.rental_date, r.return_date)) as avg_hours_rented #remember this command, very useful
		
FROM rental r
JOIN payment p on p.rental_id=r.rental_id
JOIN inventory i on i.inventory_id = r.inventory_id		
GROUP BY 1,3"""

In [25]:
data_1 = pd.read_sql(Query_1, engine)
data_1

,film_id,title,description,category_id,language_id,hours_length,rental_duration,release_year,rating,special_features,avg_hours_rental_allowed,avg_replacement_cost,actors_in_film
0,19,AMADEUS HOLY,A Emotional Display of a Pioneer And a Technic...,1,1,1.8833,6,2006,PG,"Commentaries,Deleted Scenes,Behind the Scenes",144.0,20.99,6
1,21,AMERICAN CIRCUS,A Insightful Drama of a Girl And a Astronaut w...,1,1,2.1500,3,2006,R,"Commentaries,Behind the Scenes",72.0,17.99,5
2,29,ANTITRUST TOMATOES,A Fateful Yarn of a Womanizer And a Feminist w...,1,1,2.8000,5,2006,NC-17,"Trailers,Commentaries,Deleted Scenes",120.0,11.99,7
3,38,ARK RIDGEMONT,A Beautiful Yarn of a Pioneer And a Monkey who...,1,1,1.1333,6,2006,NC-17,"Trailers,Commentaries,Deleted Scenes,Behind th...",144.0,25.99,3
4,56,BAREFOOT MANCHURIAN,A Intrepid Story of a Cat And a Student who mu...,1,1,2.1500,6,2006,G,"Trailers,Commentaries",144.0,15.99,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,931,VALENTINE VANISHING,A Thrilling Display of a Husband And a Butler ...,16,1,0.8000,7,2006,PG-13,"Trailers,Behind the Scenes",168.0,9.99,2
993,977,WINDOW SIDE,A Astounding Character Study of a Womanizer An...,16,1,1.4167,3,2006,R,"Deleted Scenes,Behind the Scenes",72.0,25.99,4
994,981,WOLVES DESIRE,A Fast-Paced Drama of a Squirrel And a Robot w...,16,1,0.9167,7,2006,NC-17,Behind the Scenes,168.0,13.99,6
995,988,WORKER TARZAN,A Action-Packed Yarn of a Secret Agent And a T...,16,1,2.3167,7,2006,R,"Trailers,Commentaries,Behind the Scenes",168.0,26.99,9
996,989,WORKING MICROCOSMOS,A Stunning Epistle of a Dentist And a Dog who ...,16,1,1.2333,4,2006,R,"Commentaries,Deleted Scenes",96.0,22.99,5

In [26]:
data_3 = pd.read_sql(Query_3, engine)
data_3

      film_id  num_rent_times  rental_cost  avg_hours_rented
0           1              15         0.99           91.8667
1           1               3         3.99          216.5000
2           1               5         1.99          163.4000
3           2               3         4.99           49.5000
4           2               2         9.99          192.0000
...       ...             ...          ...               ...
4221     1000               1         8.99          168.0000
4222     1000              13         4.99           46.3077
4223     1000               4         6.99          117.2500
4224     1000               3         7.99          150.3333
4225     1000               1        10.99          218.0000

[4226 rows x 4 columns]

In [20]:
frames = [data_3, data_1]

In [ ]:
df = pd.concat(frames, axis=1)
df 
#this method is actually super bad, it's better to go for the following one using join. Because in here we are definitely creating a table which is wrong

###To join two data frames using specific column you can do this: df = data2.set_index('film_id').join(data1.set_index('film_id'))###

In [24]:
df = data_3.set_index('film_id').join(data_1.set_index('film_id'))
df

,num_rent_times,rental_cost,avg_hours_rented,title,description,category_id,language_id,hours_length,rental_duration,release_year,rating,special_features,avg_hours_rental_allowed,avg_replacement_cost,actors_in_film
film_id,,,,,,,,,,,,,,,
1,15,0.99,91.8667,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6.0,1.0,1.4333,6.0,2006.0,PG,"Deleted Scenes,Behind the Scenes",144.0,20.99,10.0
1,3,3.99,216.5000,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6.0,1.0,1.4333,6.0,2006.0,PG,"Deleted Scenes,Behind the Scenes",144.0,20.99,10.0
1,5,1.99,163.4000,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,6.0,1.0,1.4333,6.0,2006.0,PG,"Deleted Scenes,Behind the Scenes",144.0,20.99,10.0
2,3,4.99,49.5000,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,11.0,1.0,0.8000,3.0,2006.0,G,"Trailers,Deleted Scenes",72.0,12.99,4.0
2,2,9.99,192.0000,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,11.0,1.0,0.8000,3.0,2006.0,G,"Trailers,Deleted Scenes",72.0,12.99,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,1,8.99,168.0000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5.0,1.0,0.8333,3.0,2006.0,NC-17,"Trailers,Commentaries,Behind the Scenes",72.0,18.99,3.0
1000,13,4.99,46.3077,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5.0,1.0,0.8333,3.0,2006.0,NC-17,"Trailers,Commentaries,Behind the Scenes",72.0,18.99,3.0
1000,4,6.99,117.2500,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5.0,1.0,0.8333,3.0,2006.0,NC-17,"Trailers,Commentaries,Behind the Scenes",72.0,18.99,3.0
1000,3,7.99,150.3333,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5.0,1.0,0.8333,3.0,2006.0,NC-17,"Trailers,Commentaries,Behind the Scenes",72.0,18.99,3.0
1000,1,10.99,218.0000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,5.0,1.0,0.8333,3.0,2006.0,NC-17,"Trailers,Commentaries,Behind the Scenes",72.0,18.99,3.0